@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lufga';
  src: url('../assets/font/Lufga-Regular.woff') format('woff'),
    url('../assets/font/Lufga-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Lufga', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-gradient {
  background: linear-gradient(96.48deg, #5B4C74 0%, #B064CA 100%);
}

.bg-gradient1 {
  background: linear-gradient(90deg, #ACA1DF 0%, #D8BCD2 100%);
}


.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* FadeInSection.css */
.fade-in-section {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in-section.show {
  opacity: 1;
  transform: translateY(0);
}

.gradient-text {
  background: linear-gradient(to right, #ffc7ad, #ff9e9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text1 {
  background: linear-gradient(to right, #9b91c8, #bca7b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text2 {
  background: linear-gradient(to right, #aca1df, #d8bcd2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}